body{
  padding: 0px;
  margin: 0px;
}

.TopContainer{
  position: absolute;
  top: 0px;
  left: 0px;
  height: 70px;
  width: 100%;
  background-color: black;
}

.TopContainer h1{
  color: #ffd866;
  font-family: 'PT Sans Caption', sans-serif;
  position: absolute;
  bottom: 0px;
  left: 43%;
  
}



.Form{
  margin-bottom: 40px;
  width: 60%;
}

.Form input[type = "text"]{
  background-color: transparent;
  outline: none;
  outline-style: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid white 1px;
  font-size: 15px;
}

#button{
  position: absolute;
  top: 10px;
  left: 30px;
  height: 50px;
}

#button:hover{
  cursor: pointer;
}

.Grav{
  position: absolute;
  top: 70px;
  left: 0px;
  width: 100%;
  height: 80%;
}

#addPlanet{
  position: absolute;
  left: 85px;
  bottom: -10px;
  color: whitesmoke;
  font-size: 25px;
  font-family: 'Indie Flower', cursive;
}

#game{
  position: absolute;
  top: 80px;
  left: 0px;
  width: 100%;
  height: 80%;
}
